---
#
# Ansible managed
#
repository:
  description: Install and configure {{ role_name }} on your system.
  homepage: https://robertdebock.nl/
  topics: {{ role_name }}, ansible, molecule, tox, playbook, hacktoberfest
