---
#
# Ansible managed
#
repository:
  description: Install and configure {{ role_name }} on your system.
  homepage: https://robertdebock.nl/
  topics: {{ role_name }}, application, cloud, database, development, infrastructure, linux, monitoring, networking, storage, security, system, tools, windows, ansible, molecule, tox, playbook
