---
language: python

python:
  - "3.7"

services:
  - docker

env:
  matrix:
    - distribution="alpine:latest"
    - distribution="alpine:edge"
    - distribution="archlinux/base"
    - distribution="robertdebock/docker-centos-systemd:7"
    - distribution="robertdebock/docker-centos-systemd:latest"
    - distribution="robertdebock/docker-debian-systemd:latest"
    - distribution="robertdebock/docker-debian-systemd:stable"
    - distribution="robertdebock/docker-debian-systemd:unstable"
    - distribution="robertdebock/docker-fedora-systemd:latest"
    - distribution="robertdebock/docker-fedora-systemd:rawhide"
    - distribution="opensuse/leap"
    - distribution="robertdebock/docker-ubuntu-systemd:latest"
    - distribution="robertdebock/docker-ubuntu-systemd:devel"
    - distribution="robertdebock/docker-ubuntu-systemd:rolling"

matrix:
  allow_failures:
    - env: distribution="alpine:edge"
    - env: distribution="robertdebock/docker-debian-systemd:unstable"
    - env: distribution="robertdebock/docker-fedora-systemd:rawhide"
    - env: distribution="robertdebock/docker-ubuntu-systemd:devel"

cache:
  - pip

install:
  - pip install --upgrade pip
  - pip install molecule
  - pip install tox

script:
  - tox --parallel all

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
  slack:
    secure: "# out of `travis encrypt robertdebock:TOKEN-FROM-SLACK`"
  email: false
