---
# tasks file for {{ role_name }}
- name: install {{ role_name }}
  package:
    name: "{% raw -%}{{{%- endraw %} {{ role_name }}_packages {%raw -%}}}{%- endraw %}"
    state: "{% raw -%}{{{%- endraw %} {{ role_name }}_package_state {%raw -%}}}{%- endraw %}"
  register: {{ role_name }}_install_{{ role_name }}
  until: {{ role_name }}_install_{{ role_name }} is succeeded
  retries: 3

- name: configure {{ role_name }}
  template:
    src: "{% raw -%}{{{%- endraw %} {{ role_name }}_config_file {%raw -%}}}{%- endraw %}.j2"
    dest: "{% raw -%}{{{%- endraw %} {{ role_name }}_config_directory {%raw -%}}}{%- endraw %}"
  notify:
    - restart {{ role_name }}

- name: start and enable {{ role_name }}
  service:
    name: "{% raw -%}{{{%- endraw %} {{ role_name }}_service {%raw -%}}}{%- endraw %}"
    state: started
    enabled: yes
  when:
    - ansible_virtualization_type != "docker" or {{ role_name }}_ignore_docker
