---
# tasks file for {{ role_name }}
- name: load default variables
  include_vars:
    file: default.yml

- name: load os-specific variables
  include_vars: {% raw -%}"{{ item }}"{%- endraw %}
  with_first_found:
    - {% raw -%}"{{ ansible_distribution }}-{{ ansible_distribution_major_version }}.yml"{%- endraw %}
    - {% raw -%}"{{ ansible_distribution }}.yml"{%- endraw %}
    - default.yml
