---
# defaults file for {{ role_name }}

# To update packages this role places on the system, set `{{ role_name }}_package_state` to `latest`.
{{ role_name }}_package_state: present

# Some Docker containers do not allow managing services, rebooting and writing
# to some locations in /etc. The role skips tasks that will typically fail in
# Docker. With this parameter you can tell the role to -not- skip these tasks.
{{ role_name }}_ignore_docker: yes

