---
# vars file for {{ role_name }}
{{ role_name }}_packages:
  - {{ role_name }}

{{ role_name }}_config_directory: /etc
{{ role_name }}_config_file: {{ role_name }}.conf

{{ role_name }}_service: {{ role_name }}
