---
# vars file for {{ role_name }}
_{{ role_name }}_packages:
  default:
    - {{ role_name }}
  Alpine:
    - {{ role_name }}
  Archlinux:
    - {{ role_name }}
  Debian:
    - {{ role_name }}
  CentOS:
    - {{ role_name }}
  Fedora:
    - {{ role_name }}
  openSUSE Leap:
    - {{ role_name }}
  openSUSE Tumbleweed:
    - {{ role_name }}
  Ubuntu:
    - {{ role_name }}

{{ role_name }}_packages: "_{% raw -%}{{{%- endraw %} {{ role_name }}_packages[ansible_distribution] | default(_{{ role_name }}_packages['default']) {% raw -%}}}{%- endraw %}"

_{{ role_name }}_config_directory:
  default: /etc

{{ role_name }}_config_directory: "_{% raw -%}{{{%- endraw %} {{ role_name }}_config_directory[ansible_distribution] | default(_{{ role_name }}_config_directory['default']) {% raw -%}}}{%- endraw %}"

{{ role_name }}_config_file: {{ role_name }}.conf

_{{ role_name }}_service:
  default: {{ role_name }}

{{ role_name }}_service: "_{% raw -%}{{{%- endraw %} {{ role_name }}_service[ansible_distribution] | default(_{{ role_name }}_service['default']) {% raw -%}}}{%- endraw %}"
